<div class="container">
  <a [routerLink]="['/book-create']" class="btn btn-outline-dark">
	Добавить
  </a>
  <button (click)="login()">login</button>
  <table class="table">
    <thead>
      <tr>
        <th>ИД</th>
        <th>НАЗВАНИЕ</th>
        <th>ГОД ВЫПУСКА</th>
        <th>АВТОР</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.author }}</td>
        <td><a  class="btn btn-primary" [routerLink]="['/book-details', book.id]">Открыть</a></td>
      </tr>
    </tbody>
  </table>
</div>